@font-face {
  font-family: 'sgm';
  src: url('../font/sgm.ttf');
}

@font-face {
  font-family: 'txjlcyj';
  src: url('../font/txjlcyj.ttf')
}

@font-face {
  font-family: 'txjlzcyf';
  src: url('../font/txjlzcyf.ttf')
}
